<ion-header class="no-border">
  <ion-toolbar>
    <ion-title>Así funcionan nuestros costos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      Comisión por servicio
    </ion-card-header>

    <ion-card-content>
      Esta comisión nos permite cubrir gastos operativos y ofrecerte la mejor experiencia de usuario.

      <ion-button expand="block" color="success" (click)="closeModal()">
        Entendido
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
