

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #Ff6600;
	--ion-color-primary-rgb: 255,102,0;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #e05a00;
	--ion-color-primary-tint: #ff751a;

	--ion-color-secondary: #009933;
	--ion-color-secondary-rgb: 0,153,51;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #00872d;
	--ion-color-secondary-tint: #1aa347;

	--ion-color-tertiary: #9E0000;
	--ion-color-tertiary-rgb: 158,0,0;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #8b0000;
	--ion-color-tertiary-tint: #a81a1a;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34,36,40;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;

}


.toolbar-background{
   padding: 0px 0px;
}

.my-custom-modal-css .modal-wrapper {
   height: 80%;
   top: 20%;
   position: absolute; 
   display: block;  
}

ion-label {
   white-space: normal !important;
}

a {
  text-decoration:none;
}

.donePage
{
  width:100%;
  background-color: #fff;
  height: 30%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}



